<div class="container pl-5 pt-3">
    <div class="row">
        <h5>SEGURIDAD</h5>
    </div>    
    <div class="row">
        <div class="col-6 justify-content-center">
            <div class="row">
                <p>Todas las unidades cuentan en su interior con una estructura de hierro con cerradura,
                    la cual nos permite cuidar en todo momento de la carga que transportamos.
                </p>
            </div>    
            <div class="row">
                <p>Contamos con un servicio de seguimiento satelital especializado, el cual nos permite
                    monitorear cada vehiculo en tiempo real.
                </p>
            </div>
        </div>
    </div>
</div>
