<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/carousel/01.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/carousel/02.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="../../../assets/img/carousel/03.jpg" alt="Third slide">
    </mdb-carousel-item>
</mdb-carousel>