<head>
    <link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
</head>

<div class="container pl-5 pt-3">
    <div class="row">
        <h5 class="titles">SERVICIO DE DISTRIBUCIÓN</h5>
    </div>
    <div class="row">
        <div class="col-6 pt-2 justify-content-center">
            <ul class="bodytext">
                <li>Distribución de paquetería en Capital Federal, AMBA y el interior del país.</li>
                <li>Retiro de mercadería del depósito del cliente.</li>
                <li>Unidades de distribución adecuadas para satisfacer las necesidades de cada entrega:
                    <ul>
                        <li>Utilitarios medianos (Sprinter).</li>
                        <li>Utilitarios pequeños (Fiorino, Kangoo, Strada).</li>
                        <li>Paquetería o mensajería (Moto).</li>      
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
