<div class="container pt-4">
    <div class="row">
        <div class="col-6">
            <div class="row text-left">
                <h5>CONTACTO</h5>
            </div>
            <div class="row text-left">
                <p><strong>Dirección:</strong> Avenida Salvador María del Carril 2865 7°A.</p>
            </div>
            <div class="row">
                <p><strong>Teléfonos:</strong> (011) 15-6526-2931 / (011) 15-4067-6564</p>
            </div>
            <div class="row">
                <p><strong>Mail:</strong> nicolas.horitl@logisticanl.com / info@logisticanl.com</p>
            </div>
        </div>
        <div class="col-6">
            <p>INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS 
                INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS 
                INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS 
                INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS INSERTAR GOOGLE MAPS 
            </p>
        </div>
    </div>
</div>