<div class="container pt-4">
    <div class="row">
        <div class="col-6 pl-5">
            <div class="row">
                <h4 class="font-weight-bold titles">CONTACTO</h4>
            </div>
            <div class="row">
                <p class="font-weight-bold mr-1">Dirección:</p> <span>Avenida Salvador María del Carril 2865 7°A.</span>
            </div>
            <div class="row">
                <p class="font-weight-bold mr-0">Teléfonos:</p> 
                    <ul>
                     <li>(011) 15-6526-2931</li>
                     <li>(011) 15-4067-6564</li>
                    </ul> 
            </div>
            <div class="row">
                <p class="font-weight-bold">Mail:</p> 
                <ul>
                    <li>nicolas.horitl@logisticanl.com</li>
                    <li>info@logisticanl.com</li>
                </ul> 
            </div>
        </div>
        <div class="col-6 pl-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1380.9840719602912!2d-58.49834124706561!3d-34.590196441971564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6480f80e381%3A0xd62191d8cdad2aa!2sAv.%20Salvador%20Mar%C3%ADa%20del%20Carril%202865%2C%20C1419%20GZH%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1622820979673!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>