<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
</head>

<div class="container pt-4 pl-4">
    <div class="row">
        <div class="col-12 text-left test">
            <h1 class="titles">QUIENES
                <span class="text-muted">SOMOS</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="lead text-justify bodytext">NL Logística nace para satisfacer las necesidades del mercado actual. Nos especializamos para poder brindar un servicio integral y seguro acorde a cada cliente. Trabajamos continuamente en la mejora de nuestros procesos, permitiéndonos
                ser eficientes y eficaces en cada etapa de la cadena logistica.
            </p>
        </div>
    </div>
</div>
<app-mision></app-mision>
<app-vision></app-vision>