<div class="container pt-4 pl-4">
    <div class="row">
        <div class="col-12 text-left">
            <h3>QUIENES SOMOS</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p class="lead"><strong>NL Logística</strong> nace para satisfacer las necesidades del mercado actual. Nos especializamos para poder brindar
                un servicio integral y seguro acorde a cada cliente.
                Trabajamos continuamente en la mejora de nuestros procesos, permitiéndonos ser eficientes y eficaces en cada
                etapa de la cadena logistica.
            </p>
        </div>
    </div>
</div>
<app-mision></app-mision>
<app-vision></app-vision>