<app-carrousel></app-carrousel>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col">
            <a class="nav-link" routerLink="/servicios/seguridad">
                <div class="card bg-light mb-3" style="max-width: 35rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Seguridad</h5>
                            </div>
                            <div class="col card-header-icon">
                                <i class="fas fa-shield-alt fa-3x"></i>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="nav-link" routerLink="/servicios/distribucion">
                <div class="card bg-light mb-3" style="max-width: 35rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Distribucion</h5>
                            </div>
                            <div class="col card-header-icon">
                                <i class="fas fa-warehouse fa-3x"></i>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="nav-link" routerLink="/servicios/traslado">
                <div class="card bg-light mb-3" style="max-width: 35rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Traslado</h5>
                            </div>
                            <div class="col card-header-icon">
                                <i class="fas fa-shipping-fast fa-3x"></i>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>