<app-carrousel></app-carrousel>
<div class="container-fluid main-container">
    <div class="row">
        <div class="col">
            <a class="nav-link" routerLink="/servicios/seguridad">
                <div class="card bg-light mb-3" style="max-width: 35rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Seguridad</h5>
                            </div>
                            <div class="col card-header-icon">
                                <i class="fas fa-shield-alt fa-3x"></i>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Además de nuestro servicio de traslado y distribución también podés contar con nosotros
                            para garantizar la seguridad de tu mercadería durante el viaje.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a class="nav-link" routerLink="/servicios/distribucion">
                <div class="card bg-light mb-3" style="max-width: 35rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Distribucion</h5>
                            </div>
                            <div class="col card-header-icon">
                                <i class="fas fa-warehouse fa-3x"></i>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Conocé los distintos tipos de distribución que podemos realizar y los equipos con los 
                            que contamos para garantizar la satisfacción de nuestros clientes.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>