<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
</head>

<div class="container pl-4">
    <div class="row">
        <div class="col-12 text-left">
            <h3 class="display-6 titles">NUESTRA <span class="text-muted">MISIÓN</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="bodytext text-justify">Buscar soluciones logísticas y/o estratégicas 
                facilitando el proceso de distribución a los clientes que confían en nosotros.</p><br>
        </div>
        <div class="col-4">
            <!-- <p class="text-center">inserte foto aqui</p> -->
        </div>
    </div>
</div>