<div class="container pl-4">
    <div class="row">
        <div class="col-12 text-left">
            <h5>MISIÓN</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <p>Buscar soluciones logísticas y/o estratégicas 
                facilitando el proceso de distribución a los clientes que confían en nosotros.</p>
        </div>
        <div class="col-4">
            <p class="text-center">inserte foto aqui</p>
        </div>
    </div>

</div>