<div class="container">
    <div class="row">
        <div class="col-12 text-left">
            <h1>mision</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="text-center">Buscar soluciones logísticas y/o estratégicas 
                facilitando el proceso de distribución a los clientes que confían en nosotros.</p>
        </div>
        <div class="col-4 bg-warning">
            <p class="text-center">ACA IRIA UNA FOTO?</p>
        </div>
    </div>

</div>