<head>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<div class="container pl-4">
    <div class="row">
        <div class="col-12 text-left">
            <h3 class="display-6 titles"> NUESTRA 
            <span class="text-muted">VISIÓN</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p class="bodytext text-justify">Lograr consolidarnos en una posición de liderazgo como una alternativa logística en 
                todo el territorio Nacional.</p>
        </div>
        <!-- <div class="col-4">
            <p class="text-center">inserte foto aqui</p>
        </div> -->
    </div>
    <div class="row">
        <div class="col-8">
            <p class="bodytext text-justify">Tenemos una alta vocación en servicio y actuamos con honestidad y prolijidad en cada uno
                de nuestros procedimientos. Buscando así, la mejor solución logística para el cliente, 
                adaptándonos a sus necesidades y requerimientos.<br>
            </p>
        </div>
    </div>

</div>
