<!-- Footer -->
<footer class="text-center text-lg-start bg-light p-2">
  <div class="container">
    <div class="row">
      <div class="col-1 pt-2">
        <img srcset="../../../assets/img/Logo-Footer.png" alt="">
      </div>
      <div class="col-11 pt-3 pl-5 text-left">
        <p><i class="fas fa-truck me-3"></i> NL Logistica S.R.L.</p>
        <p><i class="fas fa-store me-3"></i> Avenida Salvador María del Carril 2865 7°A</p>
        <p><i class="fas fa-envelope me-3"></i> info@logisticanl.com</p>
      </div>
    </div>
  </div>
  
  
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(4, 0, 255, 0.05);">
    © 2021 Copyright: Logistina NL | todos los derechos reservados.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->