<!-- Footer -->
<footer class="text-center text-lg-start bg-light p-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 pt-3">
                <img srcset="../../../assets/img/Logo-Footer.png" alt="">
            </div>
            <div class="col-sm-10 pt-3 pl-5 text-left">
                <p class="mb-1"><i class="fas fa-truck me-3 text-muted"></i> <small class="text-muted "> NL Logistica S.R.L.</small></p>
                <p class="mb-1"><i class="fas fa-store me-3 text-muted"></i> <small class="text-muted"> Salvador María del Carril 2865 7°A</small></p>
                <p class="mb-1"><i class="fas fa-envelope me-3 text-muted"></i> <small class="text-muted"> info@logisticanl.com</small></p>
                <p class="mb-1"><i class="fas fa-mobile me-3 text-muted"></i> <small class="text-muted"> 54 9 (011) 15-2372-5149</small></p>
            </div>
        </div>
    </div>


    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(4, 0, 255, 0.05);">
        © 2021 Copyright: Logística NL | Todos los derechos reservados.
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->